<% unless post.no_header %>
  <header>
    <h1 class="entry-title"><%= titlecase(post) %></h1>
    <%= render :partial => "common/page_meta", :locals => { :post => post } unless post.meta == false %>
  </header>
<% end %>
<div class="entry-content"><%= post.content %></div>