<% unless page.no_header %>
  <header>
      <h1 class="entry-title"><%= render_post_title(post) %> </h1>
      <%= render :partial => "common/page_meta", :locals => { :page => page , :time => time , :post => post } unless page.meta == false %>

  </header>
<% end %>

<div class="entry-content">
  <%= (excerpt.blank?) ? content : excerpt %>
</div>

<% if excerpt.present? %>
<footer>
    <%= link_to(@site.excerpt_link, blog_post_path(@site,post),:rel => "full-article") %>
</footer>
<% end %>
