<% unless post.no_header %>
  <header>
      <h1 class="entry-title"><%= render_post_title(post) %> </h1>
      <%= render :partial => "common/page_meta", :locals => { :post => post } unless post.meta == false %>

  </header>
<% end %>

<div class="entry-content">
  <%= (post.excerpt.blank?) ? post.content : post.excerpt %>
</div>

<% if post.excerpt.present? %>
<footer>
    <%= link_to(@site.excerpt_link_name, blog_post_path(@site,post),:rel => "full-article") %>
</footer>
<% end %>
