<div class="blog-index">
    <% for post in @posts %>
        <article>
          <%= render :partial => "includes/article_for_index" , :locals => { :post => post }%>
        </article>
    <% end %>
  <div class="pagination">
    <%# render :partial => "tmp/pagination" %>
  </div>
</div>

<aside class="sidebar">
  <% if @site.custom_asides %>
      <%= render :partial => "asides/custom_asides" %>
  <% else %>
      <%= render :partial => "asides/default_asides" %>
  <% end %>
</aside>