<div>
<article class="entry" role="article">
  {% include article.html %}
  <footer>
    <p class="meta">
      {% include post/author.html %}
      {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
      {% include post/categories.html %}
    </p>
    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}
    <p class="meta">
        <%= render :partial => "next_and_pre", :locals => { :post => :post } %> 
    </p>
  </footer>
</article>
<% if @site.disqus_short_name && @post.enable_comment %>
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">
        <%= render :partial => "post/disqus_thread" %>
    </div>
  </section>   
<% end %>

</div>

<% if @post.has_sidebar? %>
<aside class="sidebar">
    <% if @site.has_custom_post_sidebar? %>
        <%= render :partial => "asides/custom_post_asides" %>
    <% else %>
        <%= render :partial => "asides/default_asides" %>
    <% end %>
</aside>
<% end %>
