<p class="meta">
        <%= render :partial => "post/date", :locals => {
            :date => page.date, 
            :data_formatted => page.data_formatted, 
            #:update => page.update,
            :updated_formatted => page.updated_formatted,
        }
            
            
        %><%= time %>
        <% if @site.disqus_short_name && post.comments != false && @site.disqus_show_comment_count == true %>
             | <%= link_to("Comments", blog_post_path(@site,post)+"#disqus_thread" )%>
        <% end %>
</p>
