

<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Upgrade your projects to Rails 3.1</title>
  <meta name="author" content="xdite">

  
  <meta name="description" content="Hi, 我是 xdite。這個 projects 是因應目前 Rails 3.1 成立的升級教學網站。Ruby on Rails 在 3.1 版加上不少新進的 feature。例如 : Assets Pipeline，內建 SCSS / Coffeescript 等等&#8230;不過因為這次...">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://upgrade2rails31.heroku.com/">
  <link href="/favicon.png" rel="icon">
  
  <%= stylesheet_link_tag "screen", :media => "screen, projection"%>
  
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="/javascripts/ender.js"></script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  <link href="/atom.xml" rel="alternate" title="Upgrade your projects to Rails 3.1" type="application/atom+xml">
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

</head>

<body   >
  <header role="banner"><hgroup>
  <h1><a href="/">Upgrade your projects to Rails 3.1</a></h1>
  
    <h2>handle Rails 3.1 upgrade and asset pipeline</h2>
  
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:upgrade2rails31.heroku.com" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
<ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="/blog/archives">Archives</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div class="blog-index">
  
  
  
<%= render :partial => "blogs/article"%>
  


  

  
  <nav class="pagination">
    <div>
      
      <a href="/blog/archives">Blog Archives</a>
      
    </div>
  </nav>
</div>
<aside class="sidebar">
  
    <section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/blog/2011/09/29/realeasing-upgrade2rails31-porject/">Upgrade2Rails31 Project</a>
      </li>
    
      <li class="post">
        <a href="/blog/2011/09/28/asset-pipeline-asset-cache/">[Asset Pipeline] 處理 Asset Cache 導致的破圖問題</a>
      </li>
    
      <li class="post">
        <a href="/blog/2011/09/28/asset-pipeline-javascript-uglifier-min-dot-js/">[Asset Pipeline] Javascript Uglifier 與 min.js 相衝的問題]</a>
      </li>
    
      <li class="post">
        <a href="/blog/2011/09/28/asset-pipeline-vendor-js-plugin-tinymce-problem/">[Asset Pipeline] 處理 Vendor 類 Js Plugin 如 TinyMCE 的問題</a>
      </li>
    
      <li class="post">
        <a href="/blog/2011/09/22/asset-pipeline-multiple-server-assets-precompile-hash/">[Asset Pipeline] Multiple Server 跑 Rails 3.1 Asset_pipeline，precompile 會遇到的 Hash 問題</a>
      </li>
    
  </ul>
</section>


<section>
  <h1>Latest Tweets</h1>
  <ul id="tweets">
    <li class="loading">Status updating&#8230;</li>
  </ul>
  <script type="text/javascript">
    $.domReady(function(){
      getTwitterFeed("xdite", 4, false);
    });
  </script>
  <script src="/javascripts/twitter.js" type="text/javascript"> </script>
  
    <a href="http://twitter.com/xdite" class="twitter-follow-button" data-width="208px" data-show-count="false">Follow @xdite</a>
  
</section>



  
</aside>

    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2011 - xdite -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

</footer>
  

<script type="text/javascript">
    (function () {
      var disqus_shortname = 'upgradeyourprojectstorails31';
      
        
        var disqus_script = 'count.js'
      

      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>


  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-537077-8']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


  
  <script type="text/javascript">
    (function() {
      var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
      script.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
    })();
  </script>


  
  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>


</body>
</html>
